
@font-face {
    font-family: 'BadMofo';
    src: url('font/BadMofo.ttf');

}
@font-face {
    font-family: 'ubuntu';
    src: url('font/Ubuntu-L.ttf');

}






body{

    background-color: slategray;
    font-family: ubuntu;

}

footer {
    position: fixed;
    bottom: 0;
    display: table-row;

    text-align: center;

}



.content{
    padding-left: 0%;
    padding-rigth: 0%;
    padding-top: 30px;
}


/*__________________________________________________________________________________________________
    top_barre
*/

.top_barre{
    background-color: dimgrey;
    popsition:fixed;
    padding-top: 5px;
    padding-bottom: 5px;

    top:0px;
    right: 0px;
}

body.contener.top_barre.a{
    padding-left: 20px;

}

.name{
    font-family: BadMofo;
    margin-right: 20%;
    margin-left: 30px;
    left:30px;


    font-style: inherit;
    font-size:40px;
}

/*__________________________________________________________________________________________________
    div
*/

.divPart1{
    display: inline-table;
    width: 30%;
    height: 150px;
    padding:10px;

    border-right: solid;
}

.divPart2{
    display: inline-table;
    width: 30%;
    height: 150px;
    padding:10px;


    border-right: solid;
}

.divPart3{
    display: inline-table;
    width: 30%;
    height: 100px;
    padding:10px;
}

.titreDiv{
    text-size:24;
    text-align: center;
}

.titreDiv:hover{
    color:whitesmoke;
    text-size:24;
}
/*__________________________________________________________________________________________________
    hyperliens
*/

a
{
    text-decoration: none;
    color : white;
    font-style : italic;
}

a:hover
{
    text-decoration: none;
    color : black;
}

li:hover{
    color: aliceblue;
}





















