
@font-face {
    font-family: 'BadMofo';
    src: url('font/BadMofo.ttf');

}
@font-face {
    font-family: 'ubuntu';
    src: url('font/Ubuntu-L.ttf');

}






body{

    background-color: slategray;
    font-family: ubuntu;

}

footer{
    position:fixed;
    bottom:0;

    text-align: center;

    border : solid;
}


.content{
    padding-left: 0%;
    padding-rigth: 0%;
}


/*__________________________________________________________________________________________________
    top_barre
*/

.top_barre{
    background-color: dimgrey;
    popsition:fixed;
    padding-top: 5px;
    padding-bottom: 5px;

    top:0;
    right: 0;
}

a.top_barre{

}

.name{
    font-family: BadMofo;
    padding-right: 20%;
    font-size:40px;
}

/*__________________________________________________________________________________________________
    div
*/

.divPart1{
    display: inline-block;
    width: 30%;
    padding:10px;
    top:0;

    border-right: solid;
}

.divPart2{
    display: inline-block;
    width: 30%;
    padding:10px;


    border-right: solid;
}

.divPart3{
    display: inline-block;
    width: 30%;
    padding:10px;
}

.titreDiv{
    text-size:24;
}

.titreDiv:hover{
    color:;
    text-size:24;
}
/*__________________________________________________________________________________________________
    hyperliens
*/

a
{
    text-decoration: none;
    color : white;
    font-style : italic;
}

a:hover
{
    text-decoration: none;
    color : black;
}

.li:hover{
    color: aliceblue;
}





















